@import url(styles/reset.css);

@import url(styles/header.css);

@import url(styles/title.css);

@import url(styles/about.css);

@import url(styles/skills.css);

@import url(styles/softskills.css);

@import url(styles/hobbies.css);

@import url(styles/academic.css);

@import url(styles/experience.css);

@import url(styles/contacto.css);

@import url(styles/footer.css);



body {
    background-color: rgb(230, 230, 230);
    font-family: 'Raleway';
    line-height: 1;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

body::-webkit-scrollbar{
    width: 7px;
    height: 20px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgba(173, 0, 0, 0.767);
    border-radius: 5px;
}