/*Estilo del MENU*/

header{
    height: 60px;
    display: flex;
    background: linear-gradient(rgb(211, 211, 211), )rgb(230, 230, 230);
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img{
    height: 25px;
}

.menu__title{
    font-size: 16px;
    font-weight:bolder;
    color: rgb(0, 13, 199);
}


.menu__list{
    display: none;
}

.menu__list__item__contato{
    list-style: none;
    font-size: 12px;
    color: rgb(127, 141, 0);
}

@media screen and (min-width:1025px){
    header{
        padding: 20px 100px;

    }

    .menu__list{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        gap: 18px;
        color: rgb(127, 141, 0);
    }

    .menu__list :nth-child(6n){
        font-weight: bold;
    }

    .menu__title{
        font-size: 18px;
    }

    .menu__list__item__contato{
        display: none;
    }

}
