.soft{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: space-around;
    align-items: center;
}

.soft__title{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    color: rgb(141, 0, 0);
}

.soft__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}

.soft__box{
    height: 130px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 10px solid;
    border-bottom-color: rgb(0, 13, 199);
    text-align: center;
}

.soft__img{
    display: flex;
    align-items: center;
    width: 70px;
}

.soft__name{
    color: rgb(0, 13, 199);
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.soft__box:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    transition: 0.5s;
}

@media screen and (min-width:1025px){
    .soft__title{
        font-size: 2.5em;
    }
    
    .soft__line{
        gap: 25px;  
    }
    
    .soft__box{
        height: 130px;
        width: 120px;
    }
    
    .soft__img{
        width: 80px;
        height: 80px;
    }
    
    .soft__name{
        padding: 5px 0px 7px 0px;
        font-size: 17px;
    }
}

@media screen and (min-width:768px){
    .soft__title{
        font-size: 2em;
    }
    
    .soft__line{
        gap: 25px;  
    }
    
    .soft__box{
        height: 130px;
        width: 120px;
    }
    
    .soft__img{
        width: 80px;
        height: 80px;
    }
    
    .soft__name{
        padding: 5px 0px 7px 0px;
        font-size: 17px;
    }
}